body {
  background-color: #323232;
  /* Hintergrundfarbe der gesamten Seite */
  font-family: 'Open Sans', sans-serif;
  /* Schriftart: Open Sans */
  margin: 0;
  color: white;
}

h1 {
  text-align: center;
}

#Content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

}

#Lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; /* Verhindert, dass das Div Klicks abfängt */
}

table {
  border-collapse: collapse;
  /* Trennlinien innerhalb der Tabelle */
  border-spacing: 0;
  /* Abstand zwischen den Zellen */
}

table th,
td {
  border: 5px solid white;
  /* Dicke der Trennlinien */
  width: 150px;
  /* Größe der Zellen (4-fach vergrößert) */
  height: 150px;
  /* Größe der Zellen (4-fach vergrößert) */
  text-align: center;
  color: white;
  /* Schriftfarbe in den Zellen */
  padding-top: 20px;
  cursor: pointer;
}

th,
td {
  font-size: 120px;
  /* Schriftgröße in den Zellen */
}

td:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

table td {
  border: 5px solid white;
}

table tr:first-child td {
  border-top: 0 !important;
}

table tr td:first-child {
  border-left: 0 !important;
}

table tr:last-child td {
  border-bottom: 0 !important;
}

table tr td:last-child {
  border-right: 0 !important;
}

.winning-line {
  position: absolute;
  width: 100%;
  height: 10px; /* Die Höhe der Linie anpassen */
  background-color: white;
  transform-origin: center;
  
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

button {
  padding: 10px 20px;
  background-color: #6835ac; /* Hintergrundfarbe des Buttons */
  color: white; /* Schriftfarbe des Buttons */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #7b56ab; /* Hintergrundfarbe des Buttons im Hover-Zustand */
}

/* Zentrieren des Buttons */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}